@use 'colors';

@font-face {
  font-family: 'base';
  font-weight: 400;
  src: url('/fonts/400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'base';
  font-weight: 700;
  src: url('/fonts/700.woff2') format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'base', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-white);
}

::selection {
  color: var(--color-text-inverted);
  background-color: var(--color-primary);
}

a {
  width: fit-content;
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-text);
}

p {
  margin: 0;
}

p + p {
  margin-top: 12px;
}